# Local / Docker
PORT=80
ALLOWED_ORIGINS=http://localhost:3000
BACKEND_API_URL=http://localhost:8080

# Production (Railway / Render)
# ALLOWED_ORIGINS=https://lumiwebafric.netlify.app
# BACKEND_API_URL=https://dazzling-smile-production-1014.up.railway.app
